@model ControlHouse.Models.CuentaModel

@{
    //ViewBag.Title = "Eliminar";
    Layout = null;
}

<h3 style="text-align:center">Eliminar Cuenta</h3>

<div>    
    <hr />
    <h4>Estas seguro de querer eliminar esta cuenta?</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Ir al listado", "Index", null, new { @class = "btn btn-info btn-sm", style = "float:right; margin:0 3.75em" })
        </div>
    }
</div>
